@{
    ViewBag.Title = "Home Page";
}
<html>
<link rel="stylesheet" href="https://use.typekit.net/idk3wns.css">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<style>

body { 
    background-image: url('https://i.pinimg.com/originals/03/44/7b/03447be73c5b73a3f66b411eaf05ff67.jpg'); 

}

    h1 {
        font-weight: 400;
        margin-left: 300px;
        padding-top: 300px;
        color: red;
        text-decoration: underline;
        text-shadow: 3px 3px green;
    }
</style>


<body>

  <h1 class="h1" style="font-size:50px; font-family:Courier New, Courier, monospace; color:white "> Welcome to e-Wallet!</h1>
    



</body>
</html>