
@{
    ViewBag.Title = "Inquiry";
}

<html>
<head>
    <link href="~/Content/User_Account_Css/InquiryStyle.css" rel="stylesheet" />
    <script src="~/Scripts/script/jquery-3.6.0.js"></script>
    <script src="~/Scripts/script/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="signup-form">
        <form>
            <h2><b>Inquiry Page</b></h2>
            <p class="hint-txt">Enter the name you want to search below!</p>

            <div class="form-group"> 

                <div class="row">
                    <div class="col-xs-6">
                        <input type="text" id="txtbx_search" class="txtbxfn" placeholder="Search...." required="required">
                        <div class="selector">
                            <label for="cars"></label>
                            <select class="dropdown" id="dropdwn">
                                <option value="volvo"></option>
                                <option value="Cash-in">Cash In</option>
                                <option value="Cash-out">Cash Out</option>
                                <option value="Money Transfer">Money Transfer</option>
                                <option value="Accounts">Accounts</option>
                            </select>
                        </div>

                    </div>

                   

                    </br>
                    </br>
                    <div class="srch">
                        <button type="submit" id="btn_Search" class="search"><b>Search</b></button>
                    </div>
                </div>
          
            </div>


            <table class="tbl">
                <tr class="title">
                    <th>Owner Name</th>
                    <th>Card Number</th>
                    <th>Amount</th>
                    <th>Transaction</th>
                </tr>
                <tr>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
</tr>
                <tr>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
                </tr>
                <tr>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
                </tr>
                <tr>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
                </tr>
                <tr>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
                </tr>
                <tr>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
                    <td>null</td>
                </tr>
            </table>


        </form>





       


        </div>




</body>
<script src="~/Scripts/MyScript/InquiryPage.js"></script>

</html>

