


<html>
<script src="~/Scripts/script/jquery-3.6.0.js"></script>
<script src="~/Scripts/script/jquery-3.6.0.min.js"></script>
<body>
    <link href="~/Content/User_Account_Css/UserAccountStyle.css" rel="stylesheet" />
    <div class="signup-form">
        <form>
            <h2><b>User Registration</b></h2>
            <p class="hint-txt">Create your account now!</p>

            <div class="form-group">

                <div class="row">
                    <div class="col-xs-6"><input type="text" id="txtbx_firstname" class="txtbxfn" placeholder="First Name" required="required"></div>

                </div>

                <div class="col-xs-6"><input type="text" id="txtbx_lastname" class="txtbxln"  placeholder="Last Name" required="required"></div>
            </div>

            <div class="form-group">
                <input type="email" id="txtbx_email" class="form-control"  placeholder="Email" required="required">
            </div>


            <div class="contact">
                <input type="text" id="txtbx_number" class="form-control"  placeholder="Contact Number(+63)" required="required">
                <br />
                <br />
            </div>


            <div class="form-group">
                <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#" style="color:white">Terms of Use</a> &amp; <a href="#" style="color:white">Privacy Policy</a></label>
            </div>


            <div class="form-group">
                <button type="submit" id="btncreate" class="btn btn-success btn-lg btn-block"><b>Register</b></button>
            </div>

        </form>

    </div>

  
</body>
<script src="~/Scripts/MyScript/CreateAccount.js"></script>

</html>
